@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Barlow", sans-serif;
    background: #ebf7ff;
    /* background: #FB8500; */
  }

  /* Navbar */

  nav .menu {
    /* width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 3; */
    
    background: rgba(246, 246, 248, 0.9) none repeat scroll 0 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: relative;
    width: 100%;
    z-index: 99;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.menu.scroll-header {
    position: fixed;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}
/* 
nav .menu .website_name {
    color: #695681;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    background: #000;
    padding: 4px 8px;
    border-radius: 2px;
    opacity: 0.5;
    transition: all 0.4s ease;
    cursor: pointer;
}

nav .menu .website_name:hover {
    opacity: 1;
} 

nav .menu .menu_links {
    transition: all 0.4s ease;
    opacity: 0.5;
}

nav .menu .menu_links:hover {
    opacity: 1;
} */

@media screen and (max-width: 799px) {
    nav .menu .menu_links {
        display: none;
    }
}

nav .menu .menu_links .link {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 50px;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s 0.2s ease;
    cursor: pointer;
}

nav .menu .menu_links .link:last-child {
    margin-right: 0;
}

nav .menu .menu_links .link:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 4px;
    background: linear-gradient(90deg, #ffedc0 0%, #ff9d87 100%);
    bottom: -10px;
    border-radius: 4px;
    transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
    left: 100%;
}

nav .menu .menu_links .link:hover {
    opacity: 1;
    color: #fb8a8a;
}

nav .menu .menu_links .link:hover:before {
    width: 40px;
    left: 0;
}
nav .menu .menu_links .btn:last-child:hover {
    color: #000;
}
nav .menu .menu_links .btn:before {
    content: '';
    background: none;
}

nav .menu .menu_icon {
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 799px) {
    nav .menu .menu_icon {
        display: flex;
    }
}

nav .menu .menu_icon .icon {
    width: 24px;
    height: 2px;
    background: #000;
    position: absolute;
}

nav .menu .menu_icon .icon:before,
nav .menu .menu_icon .icon:after {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.49, 0.04, 0, 1.55);
}

nav .menu .menu_icon .icon:before {
    transform: translateY(-8px);
}

nav .menu .menu_icon .icon:after {
    transform: translateY(8px);
}

nav .menu .menu_icon:hover .icon {
    background: #ffedc0;
}

nav .menu .menu_icon:hover .icon:before {
    transform: translateY(-10px);
}

nav .menu .menu_icon:hover .icon:after {
    transform: translateY(10px);
}

.link.btn {
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    background: #ff9d87;
}

.btn:hover{
    color: #000;
}
  
  .grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 1rem;
    grid-row-gap: 1rem;
    grid-column-gap: 1.2rem;
  }
  
  .loading {
    width: 6rem;
    height: 6rem;
    margin: 10rem auto 0;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top: 3px solid #49a6e9;
    -webkit-animation: spinner .6s linear infinite;
    animation: spinner .6s linear infinite;
  }
  
  .noImage{
    width: 154px;
    height: 231px;
    display: block;
    object-fit: cover;
  }
  
  #bar {
    width: 100%;
      border: transparent;
      max-width: 600px;
      background: #fff;
      background: #fff;
      padding: 1rem;
      font-size: 1rem;
      border-radius: .25rem;
      border-radius: 0.25em;
      color: #324d67;
      color: #324d67;
      margin-top: 1rem;
  }
  
  #btn{
    margin-left: 0.5em;
      height: 3rem;
      padding: 1rem;
      border-radius: 0.5em;
      border: 1px solid #000;
      background: transparent;
      cursor: pointer;
  }
  
  .star {
    /* w-4 h-4 text-blue-500 */
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: #000;
  
  }
  .star:hover {
    color: #f4c534;
  }
  
  .blue{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: #f4c534;
  }
  
  .tag {
    background: #22254b;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: bold;
    width: fit-content;
  }
  
  .tag.s {
    /* color: rgb(5,184,5); */
    color: #21d07a;
  }
  .tag.a {
    color: orange;
    /* color: #d2d531; */
  }
  .tag.f {
    color: red;
    /* color: rgb(217,59,99); */
  }
  .tag.n {
    color: #666666;
  }

  .dot{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    margin-right: 0.5rem;
  }
  .dot.s {
    /* color: rgb(5,184,5); */
    background-color: #21d07a;
  }
  .dot.a {
    background-color: orange;
    /* background-color: #d2d531; */
  }
  .dot.f {
    background-color: red;
    /* background-color: rgb(217,59,99); */
  }
  .dot.n {
    background-color: #666666;
  }


  
  .favgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1.2rem;
  }

  .upvote {
    padding: 0.1875rem;
    border-radius: 0.625rem;
    font-size: 1.5rem;
  }
  .liked {
    padding: 0.1875rem;
    border-radius: 0.625rem;
    font-size: 1.5rem;
    background: rgba(4, 180, 53, 0.24);
    color: rgb(57, 229, 140);
  }
  .upvote:hover{
    background: rgba(4, 180, 53, 0.24);
    color: rgb(57, 229, 140);
  }

  .upvote:focus{
    outline: none;
  }
  .liked:focus{
    outline: none;
  }

/* Movie Page */

.MovieWrapper {
  position: relative;
	padding-top: 50vh;
  background-size: cover;
  background-color: #111;
}
  
.MovieInfo {
  background: #fff;
	text-align: left;
	padding: 2rem 10%;
  display: flex;
}

.MovieInfo > div {
  margin-left: 20px;
}

.MovieInfo img {
  position: relative;
  top: -5rem;
  max-height: 232px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
border-radius: 1rem;
}

img.actorImg {
  top: 0;
}


  /* Slider */
  .splide--nav>.splide__track>.splide__list>.splide__slide.is-active{
    border: none;
  }
  
  @keyframes spinner {
     100% {
      transform: rotate(1turn);
     }
  }
  
  @media (max-width: 1200px) {
    .grid{
      grid-template-columns: repeat(3, 1fr);
          padding: 0.5rem;
          grid-row-gap: 0.5rem;
    }
    .grid.profile{
      grid-template-columns: repeat(1, 1fr);
          padding: 0.5rem;
          grid-row-gap: 0.5rem;
    }
    .favgrid{
      grid-template-columns: repeat(3, 1fr);
          padding: 0.5rem;
          grid-row-gap: 0.5rem;
    }
    .MovieInfo{
      flex-direction: column;
    }
    .MovieInfo img{
      max-height:  100%;
    }
  
  }
  @media (max-width: 500px) {
    .grid{
      grid-template-columns: repeat(2, 1fr);
          padding: 0.5rem;
          grid-row-gap: 0.5rem;
    }
    .grid.profile{
      grid-template-columns: repeat(1, 1fr);
          padding: 0.5rem;
          grid-row-gap: 0.5rem;
    }
    .favgrid{
      grid-template-columns: repeat(1, 1fr);
          padding: 0.5rem;
          grid-row-gap: 0.5rem;
    }
    .MovieInfo{
      flex-direction: column;
    }
    .MovieInfo img{
      max-height:  100%;
    }
    .MovieInfo iframe{
      max-height:  100%;
      max-width:  100%;
    }
  }