body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 1rem;
  grid-row-gap: 1rem;
}

@media (max-width: 1200px) {
  .grid{
    grid-template-columns: repeat(3, 1fr);
		padding: 0.5rem;
		grid-row-gap: 0.5rem;
  }
}
@media (max-width: 414px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
		padding: 0.5rem;
		grid-row-gap: 0.5rem;
  }
}
