body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebf7ff;
}

.grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 1rem;
  grid-row-gap: 1rem;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 10rem auto 0;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top: 3px solid #49a6e9;
  -webkit-animation: spinner .6s linear infinite;
  animation: spinner .6s linear infinite;
}

.noImage{
  width: 154px;
  height: 231px;
  display: block;
  object-fit: cover;
}

#bar {
  width: 100%;
    border: transparent;
    max-width: 600px;
    background: #fff;
    background: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    border-radius: 0.25em;
    color: #324d67;
    color: #324d67;
    margin-top: 1rem;
}

#btn{
  margin-left: 0.5em;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.5em;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
}

.star {
  /* w-4 h-4 text-blue-500 */
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  color: #000;

}
.star:hover {
  color: #49a6e9;
}

.blue{
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  color: #49a6e9;
}

.tag {
  background: #22254b;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
  width: fit-content;
}

.tag.s {
  /* color: rgb(5,184,5); */
  color: #21d07a;
}
.tag.a {
  color: orange;
  /* color: #d2d531; */
}
.tag.f {
  color: red;
  /* color: rgb(217,59,99); */
}
.tag.n {
  color: #666666;
}

.favgrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

@keyframes spinner {
   100% {
    transform: rotate(1turn);
   }
}

@media (max-width: 1200px) {
  .grid{
    grid-template-columns: repeat(3, 1fr);
		padding: 0.5rem;
		grid-row-gap: 0.5rem;
  }
  .favgrid{
    grid-template-columns: repeat(3, 1fr);
		padding: 0.5rem;
		grid-row-gap: 0.5rem;
  }
}
@media (max-width: 414px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
		padding: 0.5rem;
		grid-row-gap: 0.5rem;
  }
  .favgrid{
    grid-template-columns: repeat(1, 1fr);
		padding: 0.5rem;
		grid-row-gap: 0.5rem;
  }
}
